In [8]:
import pandas as pd

In [9]:
ratings=pd.read_csv('ratings.csv')
movies=pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [11]:
# now we merge both data frame into one of them
ratings=pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [13]:
user_ratings=ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
user_ratings.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# lets remove movies which have less than 10 users who rated it and remaining NaN with 0
user_ratings=user_ratings.dropna(thresh=10,axis=1).fillna(0)
user_ratings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# lets built the similarity matrix
# we have two method cosine or pearson similarity
# here we will use pearson similarity using corr method bxse it will adjust the mean
# we don;t have to apply our standardise method here

In [17]:
item_similarity_df=user_ratings.corr(method='pearson')
item_similarity_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518

In [18]:
# let's make recommandation function
def get_similar_movies(movie_name,user_rating):
    similar_score=item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score=similar_score.sort_values(ascending=False)
    
    return similar_score

In [21]:
action_lover=[("xXx (2002)",5),
              ("12 Years a Slave (2013)",4),
              ("2012 (2009)",3),
             ("12 Angry Men (1957)",2)]
similar_movies=pd.DataFrame()

for movie,rating in action_lover:
    similar_movies=similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)

    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

xXx (2002)                                                            2.611744
Die Another Day (2002)                                                1.885087
Charlie's Angels: Full Throttle (2003)                                1.706071
Rundown, The (2003)                                                   1.638266
S.W.A.T. (2003)                                                       1.615083
12 Years a Slave (2013)                                               1.601618
Resident Evil (2002)                                                  1.578708
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)                 1.527861
Reign of Fire (2002)                                                  1.526709
Evolution (2001)                                                      1.496178
Scary Movie 2 (2001)                                                  1.461249
Dungeons & Dragons (2000)                                             1.454320
Fast and the Furious, The (2001)                                      1.434717
Swordfish (2001)                                                      1.433376
Fighter, The (2010)                                                   1.413309
Hostage (2005)                                                        1.396068
Terminator 3: Rise of the Machines (2003)                             1.386919
Smokin' Aces (2006)                                                   1.382150
Secret Window (2004)                                                  1.381266
Phone Booth (2002)                                                    1.378770
Mummy Returns, The (2001)                                             1.377326
Scary Movie 3 (2003)                                                  1.375794
Daredevil (2003)                                                      1.359086
Lara Croft: Tomb Raider (2001)                                        1.358581
Mission: Impossible III (2006)                                        1.350331
Runaway Jury (2003)                                                   1.342395
Snakes on a Plane (2006)                                              1.339169
Blind Side, The  (2009)                                               1.329351
Transporter, The (2002)                                               1.328099
Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)                   1.327195
                                                                        ...
Coneheads (1993)                                                     -0.116035
Terms of Endearment (1983)                                           -0.116335
Hairspray (1988)                                                     -0.121410
Forget Paris (1995)                                                  -0.121902
Serial Mom (1994)                                                    -0.122675
Color Purple, The (1985)                                             -0.123930
Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)   -0.124610
Beverly Hillbillies, The (1993)                                      -0.128871
Big Chill, The (1983)                                                -0.131896
Howards End (1992)                                                   -0.132493
Gods Must Be Crazy, The (1980)                                       -0.134902
Bananas (1971)                                                       -0.137058
Mr. Smith Goes to Washington (1939)                                  -0.137864
All About My Mother (Todo sobre mi madre) (1999)                     -0.148255
Secrets & Lies (1996)                                                -0.148305
Ordinary People (1980)                                               -0.148733
Moonstruck (1987)                                                    -0.151294
Shadowlands (1993)                                                   -0.158700
Eat Drink Man Woman (Yin shi nan nu) (1994)                          -0.161200
Clear and Present Danger (1994)                                      -0.165809
Mister Roberts (1955)                                                -0.173217
Remains of the Day, The (1993)                                       -0.173917
Maltese Falcon, The (a.k.a. Dangerous Female) (1931)                 -0.177106
Jean de Florette (1986)                                              -0.185095
Big Sleep, The (1946)                                                -0.189769
Postman, The (Postino, Il) (1994)                                    -0.210674
Like Water for Chocolate (Como agua para chocolate) (1992)           -0.229938
All Quiet on the Western Front (1930)                                -0.232519
Madness of King George, The (1994)                                   -0.240316
Arsenic and Old Lace (1944)                                          -0.242435
Length: 2269, dtype: float64